In [2]:
import pandas as pd

# Group 1 Data Prep

## Getting General Group 1 data

In [3]:
"""
Since this is general it is only reading the "summarized" file
"""
tst_g1_T0374 = pd.read_csv('data/test/G1_T0374_summary.csv')
tst_g1_T0374L = pd.read_csv('data/test/G1_T0374L_summary.csv')
tst_g1_T1912 = pd.read_csv('data/test/G1_T1912_summary.csv')
tst_g1_T1995 = pd.read_csv('data/test/G1_T1995_summary.csv')
tst_g1_T6020 = pd.read_csv('data/test/G1_T6020_summary.csv')
tst_g1_T7394 = pd.read_csv('data/test/G1_T7394_summary.csv')

In [5]:
"""
    Detecting and getting rid of "NaN" values
"""
tst_g1_T0374 = tst_g1_T0374.dropna()
tst_g1_T0374L = tst_g1_T0374L.dropna()
tst_g1_T1912 = tst_g1_T1912.dropna()
tst_g1_T1995 = tst_g1_T1995.dropna()
tst_g1_T6020 = tst_g1_T6020.dropna()
tst_g1_T7394 = tst_g1_T7394.dropna()

In [10]:
"""
    Merging tables to get master table for group 1
"""
g1_master_table = pd.concat([tst_g1_T0374, tst_g1_T0374L, tst_g1_T1912, tst_g1_T1995, tst_g1_T6020, tst_g1_T7394], ignore_index=True)

# g1_master_table

# Group 2 Data Prep

## Getting General Group 2 data

In [13]:
"""
Since this is general it is only reading the "summarized" file
"""

tst_g2_T0860 = pd.read_csv('data/test/G2_T0860_summary.csv')
tst_g2_T1448 = pd.read_csv('data/test/G2_T1448_summary.csv')
tst_g2_T1656 = pd.read_csv('data/test/G2_T1656_summary.csv')
tst_g2_T2508 = pd.read_csv('data/test/G2_T2508_summary.csv')
tst_g2_T2509 = pd.read_csv('data/test/G2_T2509_summary.csv')
tst_g2_T3380 = pd.read_csv('data/test/G2_T3380_summary.csv')

In [14]:
"""
    Detecting and getting rid of "NaN" values
"""

tst_g2_T0860 = tst_g2_T0860.dropna()
tst_g2_T1448 = tst_g2_T1448.dropna()
tst_g2_T1656 = tst_g2_T1656.dropna()
tst_g2_T2508 = tst_g2_T2508.dropna()
tst_g2_T2509 = tst_g2_T2509.dropna()
tst_g2_T3380 = tst_g2_T3380.dropna()

In [15]:
"""
    Merging tables to get master table for group 2
"""
g2_master_table = pd.concat([tst_g2_T0860, tst_g2_T1448, tst_g2_T1656, tst_g2_T2508, tst_g2_T2509, tst_g2_T3380], ignore_index=True)

# Group 3 Data Prep

## Getting General Group 3 data

In [16]:
"""
Since this is general it is only reading the "summarized" file
"""

tst_g3_T0801 = pd.read_csv('data/test/G3_T0801_summary.csv')
tst_g3_T1829 = pd.read_csv('data/test/G3_T1829_summary.csv')
tst_g3_T2485 = pd.read_csv('data/test/G3_T2485_summary.csv')
tst_g3_T2677 = pd.read_csv('data/test/G3_T2677_summary.csv')
tst_g3_T6156 = pd.read_csv('data/test/G3_T6156_summary.csv')
tst_g3_T7503 = pd.read_csv('data/test/G3_T7503_summary.csv')

In [17]:
"""
    Detecting and getting rid of "NaN" values
"""

tst_g3_T0801 = tst_g3_T0801.dropna()
tst_g3_T1829 = tst_g3_T1829.dropna()
tst_g3_T2485 = tst_g3_T2485.dropna()
tst_g3_T2677 = tst_g3_T2677.dropna()
tst_g3_T6156 = tst_g3_T6156.dropna()
tst_g3_T7503 = tst_g3_T7503.dropna()

In [18]:
"""
    Merging tables to get master table for group 3
"""

g3_master_table = pd.concat([tst_g3_T0801, tst_g3_T1829, tst_g3_T2485, tst_g3_T2677, tst_g3_T6156, tst_g3_T7503], ignore_index=True)

# Group 4 Data Prep

## Getting General Group 4 data

In [19]:
"""
Since this is general it is only reading the "summarized" file
"""

tst_g4_T2S0007 = pd.read_csv('data/test/G4_T2S0007_summary.csv')
tst_g4_T1929 = pd.read_csv('data/test/G4_T1929_summary.csv')
tst_g4_T1936 = pd.read_csv('data/test/G4_T1936_summary.csv')
tst_g4_T3211 = pd.read_csv('data/test/G4_T3211_summary.csv')
tst_g4_T3269 = pd.read_csv('data/test/G4_T3269_summary.csv')
tst_g4_T3603 = pd.read_csv('data/test/G4_T3603_summary.csv')
tst_g4_T3616 = pd.read_csv('data/test/G4_T3616_summary.csv')
tst_g4_T4883 = pd.read_csv('data/test/G4_T4883_summary.csv')
tst_g4_T5171 = pd.read_csv('data/test/G4_T5171_summary.csv')
tst_g4_T5177 = pd.read_csv('data/test/G4_T5177_summary.csv')
tst_g4_T6321 = pd.read_csv('data/test/G4_T6321_summary.csv')
tst_g4_T7486 = pd.read_csv('data/test/G4_T7486_summary.csv')
tst_g4_T7861 = pd.read_csv('data/test/G4_T7861_summary.csv')
tst_g4_T8482 = pd.read_csv('data/test/G4_T8482_summary.csv')

In [20]:
"""
    Detecting and getting rid of "NaN" values
"""

tst_g4_T2S0007 = tst_g4_T2S0007.dropna()
tst_g4_T1929 = tst_g4_T1929.dropna()
tst_g4_T1936 = tst_g4_T1936.dropna()
tst_g4_T3211 = tst_g4_T3211.dropna()
tst_g4_T3269 = tst_g4_T3269.dropna()
tst_g4_T3603 = tst_g4_T3603.dropna()
tst_g4_T3616 = tst_g4_T3616.dropna()
tst_g4_T4883 = tst_g4_T4883.dropna()
tst_g4_T5171 = tst_g4_T5171.dropna()
tst_g4_T5177 = tst_g4_T5177.dropna()
tst_g4_T6321 = tst_g4_T6321.dropna()
tst_g4_T7486 = tst_g4_T7486.dropna()
tst_g4_T7861 = tst_g4_T7861.dropna()
tst_g4_T8482 = tst_g4_T8482.dropna()

In [21]:
"""
    Merging tables to get master table for group 4
"""

g4_master_table = pd.concat([tst_g4_T2S0007, tst_g4_T1929, tst_g4_T1936, tst_g4_T3211, tst_g4_T3269, tst_g4_T3603, tst_g4_T3616, tst_g4_T4883, tst_g4_T5171, tst_g4_T5177, tst_g4_T6321, tst_g4_T7486, tst_g4_T7861, tst_g4_T8482], ignore_index=True)

# Group 5 Data Prep

## Getting General Group 5 data

In [22]:
"""
Since this is general it is only reading the "summarized" file
"""

tst_g5_T1791 = pd.read_csv('data/test/G5_T1791_summary.csv')
tst_g5_T1791L = pd.read_csv('data/test/G5_T1791L_summary.csv')
tst_g5_T2372 = pd.read_csv('data/test/G5_T2372_summary.csv')
tst_g5_T6165 = pd.read_csv('data/test/G5_T6165_summary.csv')
tst_g5_T6588 = pd.read_csv('data/test/G5_T6588_summary.csv')
tst_g5_T6758 = pd.read_csv('data/test/G5_T6758_summary.csv')
tst_g5_T7604 = pd.read_csv('data/test/G5_T7604_summary.csv')
tst_g5_T8387 = pd.read_csv('data/test/G5_T8387_summary.csv')
tst_g5_T12594 = pd.read_csv('data/test/G5_T12594_summary.csv')

In [23]:
"""
    Detecting and getting rid of "NaN" values
"""

tst_g5_T1791 = tst_g5_T1791.dropna()
tst_g5_T1791L = tst_g5_T1791L.dropna()
tst_g5_T2372 = tst_g5_T2372.dropna()
tst_g5_T6165 = tst_g5_T6165.dropna()
tst_g5_T6588 = tst_g5_T6588.dropna()
tst_g5_T6758 = tst_g5_T6758.dropna()
tst_g5_T7604 = tst_g5_T7604.dropna()
tst_g5_T8387 = tst_g5_T8387.dropna()
tst_g5_T12594 = tst_g5_T12594.dropna()

In [24]:
"""
    Merging tables to get master table for group 5
"""

g5_master_table = pd.concat([tst_g5_T1791, tst_g5_T1791L, tst_g5_T2372, tst_g5_T6165, tst_g5_T6588, tst_g5_T6758, tst_g5_T7604, tst_g5_T8387, tst_g5_T12594], ignore_index=True)